MONGODB_URI=mongodb+srv://pfnadeem_db_user:X0CaYdgqPz4d77dp@cluster0.h2mz0hp.mongodb.net/chatbot_service?retryWrites=true&w=majority
NEXT_PUBLIC_SSO_SECRET=3b9f4a8e2c7d1e05f6a8b9c417f0e53a29b48c716035129ef94d6e8b15ca0e37
